<div id="userSidebar-container">
  <div id="userSidebar-header"><span class="lnr lnr-user"></span>profile</div>

  <div class="userSidebar-subheader">Bookmarks</div>
  <div ng-repeat="bookmark in menu.userData.bookmarks" >
    <div class="lists"><a ui-sref="post({post_id: bookmark.id})">{{ bookmark.title }}</a></div>
  </div>

  <div class="userSidebar-subheader">Subscriptions</div>
  <div ng-repeat="subscription in menu.userData.subscriptions">
    <div class="lists"><a ui-sref="post({post_id: subscription.id})">{{ subscription.name }}</a></div>
  </div>

  <!-- <div>Share</div> -->

  <div class="userSidebar-subheader">Favorites</div>
  <div ng-repeat="favorite in menu.userData.favorites" >
    <div class="lists"><a ui-sref="post({post_id: favorite.id})">{{ favorite.title }}</a></div>
  </div>

</div>
