<!-- Navbar -->

<div id="navbar">

  <div id="navbar-container">

    <div id="navbar-container-left">

      <div id="navbar-title">
        <ul class="list-display-row">
          <li><a href="/" class="first">L</a></li>
          <li><a href="/" class="second">U</a></li>
          <li><a href="/" class="first">C</a></li>
          <li><a href="/" class="first">I</ai></li> <!-- <a><svg class="i"><use xlink:href="#lnr-pencil"></use></svg></a> -->
          <li><a href="/" class="first">D</a></li>
        </ul>
      </div>

      <div id="navbar-options">
        <!-- <ul class="list-display-row">
          <div ng-class="main.trending === main.selectedTab ? 'tab-selected' : 'tab-deselected' " ng-click="main.switchTab(main.trending)" >recent</div>
          <div ng-class="main.recent === main.selectedTab ? 'tab-selected' : 'tab-deselected' " ng-click="main.switchTab(main.recent)" >recent</div>
          <div ng-class="main.popular === main.selectedTab ? 'tab-selected' : 'tab-deselected' " ng-click="main.switchTab(main.popular)">popular</div>
        </ul> -->

        <div id="navbar-options-container">

          <!-- Navbar Options -->
          <div id="navbar-options-top">
            <!-- <div ng-click="main.switchTab(main.trending)"><div>recent</div></div><span class="navbar-options-space-filler"></span>
            <div ng-click="main.switchTab(main.recent)"><div>trending</div></div><span class="navbar-options-space-filler"></span>
            <div ng-click="main.switchTab(main.popular)"><div>popular</div></div><span class="navbar-options-space-filler"></span> -->

            <!-- <div ng-class="main.trending === main.selectedTab ? 'navbar-options-selected' : 'navbar-options-deselected' " ng-click="main.switchTab(main.trending)"><div>recent</div></div><span class="navbar-options-space-filler"></span>
            <div ng-class="main.recent === main.selectedTab ? 'navbar-options-selected' : 'navbar-options-deselected' " ng-click="main.switchTab(main.recent)"><div>trending</div></div><span class="navbar-options-space-filler"></span>
            <div ng-class="main.popular === main.selectedTab ? 'navbar-options-selected' : 'navbar-options-deselected' " ng-click="main.switchTab(main.popular)"><div>popular</div></div><span class="navbar-options-space-filler"></span> -->


            <!-- I WILL NEED TO RESTYLE YET AGAIN. IN THE CONTROLLER, STYLE DIVS ON THE BASIS OF STATE PARAMS -->
            <!-- <div class="navbar-options-test-width" ><div ng-click="myStyle={'margin-left': '0px', 'width': '72px'}"><a  ui-sref="posts-trending">trending</a></div></div><span class="navbar-options-space-filler"></span>
            <div class="navbar-options-test-width" ><div ng-click="myStyle={'margin-left': '65px', 'width': '65px'}"><a  ui-sref="posts-popular">popular</a></div></div><span class="navbar-options-space-filler"></span>
            <div class="navbar-options-test-width" ><div ng-click="myStyle={'margin-left': '167px', 'width': '30px'}"><a  ui-sref="posts-new">new</a></div></div><span class="navbar-options-space-filler"></span> -->

            <!-- <div class="navbar-options-test-width" ng-click="myStyle={'margin-left': '0px', 'width': '72px'}"><div>trending</div></div> <span class="navbar-options-space-filler"></span>
            <div class="navbar-options-test-width" ng-click="myStyle={'margin-left': '65px', 'width': '65px'}"><div>popular</div></div> <span class="navbar-options-space-filler"></span>
            <div class="navbar-options-test-width" ng-click="myStyle={'margin-left': '167px', 'width': '30px'}"><div>new</div></div>    <span class="navbar-options-space-filler"></span> -->

            <!-- Add the following to test width of option: class="navbar-options-test-width" -->
            <!-- <div ng-click="myStyle={'margin-left': '0px', 'width': '72px', 'transition': '.5s ease-in-out'}">   <div>trending</div>  </div>   <span class="navbar-options-space-filler"></span>
            <div ng-click="myStyle={'margin-left': '102px', 'width': '65px', 'transition': '.5s ease-in-out'}"> <div>popular</div>   </div>   <span class="navbar-options-space-filler"></span>
            <div ng-click="myStyle={'margin-left': '197px', 'width': '35px', 'transition': '.5s ease-in-out'}"> <div>new</div>       </div>   <span class="navbar-options-space-filler"></span> -->

            <div ng-click="main.switchPage('posts-trending'); myStyle={'margin-left': '0px', 'width': '72px', 'transition': '.5s ease-in-out'}">    <div>trending</div>  </div>   <span class="navbar-options-space-filler"></span>
            <div ng-click="main.switchPage('posts-popular'); myStyle={'margin-left': '102px', 'width': '65px', 'transition': '.5s ease-in-out'}"> <div>popular</div>   </div>   <span class="navbar-options-space-filler"></span>
            <div ng-click="main.switchPage('posts-new'); myStyle={'margin-left': '197px', 'width': '35px', 'transition': '.5s ease-in-out'}" > <div>new</div>       </div>   <span class="navbar-options-space-filler"></span>



            <!-- ,  -->



          </div>

          <!-- Slider -->
          <div id="navbar-options-bottom">
            <!-- <div id="slider" ng-class="main.sliderMargin" ng-style="myStyle"  ></div> -->
            <div id="slider" ng-class="main.sliderMargin" ng-style="myStyle" ></div>
          </div>

        </div>


      </div>




    </div>



    <div id="navbar-container-right">
      <!-- <button ng-click="main.setSelected('charm')">setSelected{{main.selected}}</button>
      <button ng-click="main.getSelected()">getSelected</button>{{main.selected}} -->
      <ul class="list-display-row">
        <!-- <li><svg class="lnr lnr-alarm"><use xlink:href="#lnr-alarm"></use></svg></li>
        <li><svg class="lnr lnr-magnifier"><use xlink:href="#lnr-magnifier"></use></svg></li> -->
        <li class="write"><a ui-sref="postCreate"><svg class="lnr lnr-pencil"><use xlink:href="#lnr-pencil"></use></svg></a></li>
        <li class="nav-profile"><a ng-if="!main.loggedIn" class="button" ng-click="main.doLogin()" class="button">Sign In</a></li>
        <li class="nav-profile"><a ng-if="main.loggedIn" class="button" ng-click="main.doLogout()" class="button">Sign Out</a></li>
        <!-- <li><svg class="lnr lnr-menu"><use xlink:href="#lnr-menu"></use></svg></li> -->

      </ul>





    </div>

  </div>
</div>

<!-- <div data-icon="ei-archive"></div>
<div data-icon="ei-chart" data-size="s"></div>
<div data-icon="ei-check" data-size="m"></div>
<div data-icon="ei-spinner" data-size="m"></div>
<div data-icon="ei-cart" data-size="l" class="foo"></div>

<svg class="lnr lnr-mustache"><use xlink:href="#lnr-mustache"></use></svg> lnr-mustache -->
