.postsDisplayLayout-container {
  background-color: white;
}

.post-header {
  @extend %column-header;
}

.container-postDisplay {
  width: 92%;
  text-align: justify;
  background-color: white;

}

.postDisplay-title {
  font-family: "Archer SSm A", "Archer SSm B";
	font-style: normal;
  font-size: 1.5em;
	font-weight: 600;
  color: #3f5973; // #2ecc71;
  text-decoration: none;
  height: 20%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.postDisplay-body {
  white-space: pre-wrap;
  font-family: 'Montserrat-Ultralight';
  line-height: $base-line-height * 1.1;
}
